<!-- <h1>Parks#edit</h1>
<p>Find me in app/views/parks/edit.html.erb</p>
 -->

<h2>Edit Park Information</h2>
<div>
	<%= bootstrap_form_for @park do |p|%>
		<%=p.text_field :name%>
		<%=p.text_field :description%>
		<%=p.text_field :picture%>
		<%=p.submit%>
	<%end%>
	<%= link_to "Delete Park", park_path(@park), method: :delete, class: 'btn btn-danger' %>
</div>

